<div class="container pt-5">
  <div class="row">
    <div class="col text-center">
      <h1>BasketBall is Lifeへようこそ！</h1>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <p>ここはバスケットボール専用のSNSです！</p>
      <p>自分のお気に入りアイテムや新しく購入したアイテムなどの画像を投稿してみんなに共有しましょう！
      </br>※投稿やコメントをするにはログインが必要です。</p>
    </div>
  </div>
</div>