<div class="container pt-5">
  <div class="row">
    <div class="col offset-2">
      <h4><%= @user.full_name %>が投稿した</br>アイテムのメーカー統計</h4>
    </div>
    <div class="col">
      <h4><%= @user.full_name %>が投稿した</br>アイテムのジャンル統計</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-2">
      <%= pie_chart @posts.group(:maker_id).count %>
    </div>
    <div class="col">
      <%= pie_chart @posts.group(:genre_id).count %>
    </div>
  </div>

</div>