<div class="container pt-5">
  <div class="row">
    <div class="col offset-2">
      <h4>投稿されたアイテムのメーカー統計</h4>
    </div>
    <div class="col">
      <h4>投稿されたアイテムのジャンル統計</h4>
    </div>
  </div>

  <div class="row">
    <div class="col-4 offset-2">
      <%= pie_chart @posts.group(:maker_id).count %>
    </div>
    <div class="col">
      <%= pie_chart @posts.group(:genre_id).count %>
    </div>
  </div>

</div>