<div class="container mt-5">
  <div class="row">
    <div class="col text-center">
      <h1>管理者でログインしました。</h1>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <h5>表示したい画面をヘッダーの項目から選択していください。</h5>
    </div>
  </div>
</div>

